<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbwleft.sms.dao.mapper.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.cbwleft.sms.dao.model.Template">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="channel_template_no" jdbcType="VARCHAR" property="channelTemplateNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="template" jdbcType="VARCHAR" property="template" />
    <result column="validate_code_key" jdbcType="VARCHAR" property="validateCodeKey" />
    <result column="validate_code_expire" jdbcType="SMALLINT" property="validateCodeExpire" />
    <result column="app_id" jdbcType="TINYINT" property="appId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>